<div class="questions-amount">
  <% question_declension = { first_declension: 'вопрос',
                             second_declension: 'вопроса',
                             third_declension: 'вопросов' } %>
  <% asking_declension = { first_declension: 'был задан',
                           second_declension: 'было задано',
                           third_declension: 'было задано' } %>
  <%=
    if @questions.present?
      question_number = @questions.length
      "Пользователю #{correct_declension(question_number, asking_declension)}
      #{question_number} #{correct_declension(question_number, question_declension)}"
    else
      'Ни одного вопроса не задано. Задайте его первым!'
    end
  %>
</div>
